{% extends "chat_layout.html" %}

{% block title %}
      Channel list
{% endblock %}

{% block other_head %}
  <script id="post" type="text/x-handlebars-template">
      <div class="post", data-user="{% raw -%}{{ contents }}{%- endraw %}">
          {% raw -%}
              {{ contents }}
          {%- endraw %}
          <button class="remove btn-link">Remove</button>
      </div>
  </script>

  <script src="{{ url_for('static', filename='js/channel_list.js') }}"></script>
{% endblock %}


{% block body %}
    <h1>Channel list</h1>
    <div>
      <h3>Your Channels</h3>
      {% if channels %}
        {% for channel in channels %}
          <div>
            <form action="{{ url_for('get_users', name=channel['name']) }}" method="post">
              <button type="button" class="btn btn-secondary btn-block">{{ channel['name'] }}</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-danger">You do not belong to any channels. </p>
      {% endif %}
    </div>
    <div>
      <h3>Create a New Channel</h3>
        <form action="{{ url_for('channel_list') }}" method="post">
          <div class="form-group">
            <div>
              <label for="search">Channel name:</label>
              <input type="text" class="form-control" name = "search" id="search" placeholder="Put the name of your channel here">
            </div>
            <div id="participants">
            </div>
            <div class="btn-group">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Who do you want to add?
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for user in users %}
                    {% if not user in channel_users %}
                      <button class="dropdown-item add_user" data-user="{{ user }}" type="button">{{ user }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-success">Create Channel</button>
              </div>
            </div>
          </div>
        </form>
    </div>
{% endblock %}
