<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        {% block other_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
          <div>
            <p class = "text-right">
              Your display name is <span class="font-italic">{{ dname }}.</span> <a href="{{ url_for('logout') }}">Sign out<a/>
            </p>
          </div>
          {% block body %}
          {% endblock %}
        </div>
    </body>
</html>
